@model BandsApp.Web.Models.Band

<!DOCTYPE html>
<html>
<head>
    <title>@Model.Name - Details</title>
    <link rel="stylesheet" href="https://unpkg.com/@@picocss/pico@latest/css/pico.classless.min.css">
</head>
<body>
    <h2>@Model.Name</h2>

    <p>Description: @Model.Description</p>

    <a href="/">⬅ Back to list</a>
</body>
</html>
