@model BandsApp.Web.Models.Band[]
<!DOCTYPE html>
<html>
    <head>
        <title>Bands</title>
        <link rel="stylesheet" href="https://unpkg.com/@@picocss/pico@@latest/css/pico.classless.min.css">
    </head>
    <body>
        <h2>Bands</h2>
        <ol>
            @foreach(var item in Model)
            {
            <a href="/details/@item.Id" style="margin-right: 2rem; ">@item.Name</a>
        }
        </ol>
    </body>
</html>